*{
    font-family:"K2D", sans-serif;
}

html {
    scroll-behavior:smooth;
}

section {
  scroll-margin-top: 100px;
}
body{
    margin: 0px;
    background-color: #0B0B0B;
    position: sticky;
}

/***********************************NAV Bar**********************************/

#dsk-nav{
    top: 0%;
    display: flex;
    height: 88px;
    margin: 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--Black-700, #0B0B0B);
    background: #0b0b0b66;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px); 
    position: fixed;
    width: 100%;
    z-index: 1000;  
}
#sml-nav{
    display: none;
}
#log{
    display: flex;
    align-items: center;
    margin-left: 128px;
}

#log_img{
    height: 32px;
    width: 24px;
    margin-right: 13px;
}

#log p{
    font-size: 18px;
    margin: 10px 0 ;
    font-family:"K2D", sans-serif;
    color: #ffffff;
    font-weight: lighter;
}

#dsk-nav ul{
    display: flex;
    align-items: center;
    margin: 26px 128px 26px 0px;
}

#dsk-nav ul li{
    color: #ffffff;
    padding: 12px 16px;
    font-family:"K2D" , sans-serif;
    list-style: none;
    text-align: center;
    font-weight: lighter;
    justify-content: space-between;
    border: 1px solid transparent;
}

#dsk-nav ul li a{
  text-decoration: none;
  color: #ffffff;
}

#dsk-nav ul li:hover{
    border: 1px solid #ffeded;
    border-radius: 10px;
}

/* ---------------------------------- */

/*Header*/

#hero_container{
    background-image: url(./Img/herobg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: static;
    height: 1040px;
    display:flex;
    justify-content: center;
}

#hero_cont{
    position: relative;
    width: 649px;
    height: 857px;
    justify-content: center;
    color: #fff;
    padding: 160px 48px 200px 48px;
}

#hero_cont .space {
  display: inline-block;
  width:6px; 

}

#hero_cont .space1{
  display: inline-block;
  width: 16px; 
}

#hero_cont h1{
    font-size: 64px;
    text-align: center;
    width: 649px;
    margin-bottom: 54px;
}

#hero_cont .img-letter-code {
    width: 42px;
    height: auto;
    position: absolute;
    vertical-align: middle;
    margin: 30px -40px; 
  }

#hero_cont .img-letter-two {
    width: 42px;
    height: auto;
    position: absolute;
    vertical-align: middle;
    margin: 30px -50px
  }


#hero_cont p{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    max-width: 649px;
    margin-bottom: 60px;
    color: #c2c2c2;
}

#btn_ami{
    width: 188px;
    height: 36px;
    display: flex;
    text-align: center;
    position: relative;
    border: 1px solid #F57D2F;
    border-radius: 6px;
    background-color:transparent;
    z-index: 1;
    cursor: pointer;
    overflow: hidden; 
}

#btn_ami #btn_img{
    position:absolute;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0%;
    opacity: 0;
    transform: translate(-40px, 20px);
    transition: transform 0.8s ease, opacity 0.8s ease;  
    
}

#btn_ami:hover #btn_img {
  transform: translate(-22px, 1px);
  opacity: 1;
  pointer-events: none;
  z-index: 1; 
}

#btn_ami span{
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Nunito";
    margin:5px 18px;
    color: #ffffff;
    z-index: 2; 
}

#btn_our_wrk{
    width: 188px;
    height: 36px;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    position: relative;
    background: linear-gradient(90deg, #E0220A 0%, #F57D2F 100%);
    border-radius: 6px;
    z-index: 1;
    cursor: pointer;
    overflow: hidden; 
    font-size: 18px;
    transition: all 0.8s ease;
}

/* #btn_our_wrk:hover{
    color: #F57D2F;
    background-color:transparent;
    border: 1px solid #F57D2F;
} */

#btn{
    max-width: 649px;
    display: flex;
    column-gap: 24px;
    margin-top: 60px;
    justify-content: center;
    text-align: center;
}

#btn a{
    text-decoration: none;
}

/* --------------------------------About Card--------------------------------------- */

#abt-us{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center; 
    position: relative;
    top: -192px
}

#abt-us a{
    text-decoration: none;
}

#abt-us #content {
    justify-content: center;
}
#abt-us #content h1{
    color: #ffffff;
    font-size: 56px;
    margin-bottom: 0;
}
#abt-us #content img{
    width: 250px;
}
#abt-us #content h1 span{
     background: linear-gradient(90deg, #E0220A 0%, #F57D2F 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

#abt-us #content p{
    color: #c2c2c2;
    font-size: 18px;
    width: 442px;
    margin: 10px auto;
    font-weight: lighter;
}


#us{
    display: flex;
    max-width: 100%;
    column-gap: 48px;
    justify-content: center;
    padding: 92px 0 48px 0;
}

.card{
    position: relative;
    width: 560px;
    height: 256px;
    padding: 24px 0;
    display: flex;
    border: 2px solid rgb(107, 105, 101);
    border-radius: 10px;
    background-color: #000;
    overflow: hidden;
}

.card #normal{
    width: 140px;
    height: 192px;
    padding: 24px 24px 24px 36px;
    opacity: 1;
    z-index: 1;
    transition: visibility 0.3s ease-in-out;
}
.card #hover{
    position: absolute;
    width: 140px;
    height: 192px;
    padding: 24px 24px 24px 36px;
    opacity: 0;
    transition: visibility 0.3s ease-in-out;
}

.card #card_bg{
    width: 560px;
    height: 256px;
    position: absolute;
    opacity: 0;
}

.card #normal1{
    width: 140px;
    height: 218px;
    padding: 24px 24px 24px 36px;
    opacity: 1;
    z-index: 1;
    transition: visibility 0.3s ease-in-out;
}
.card #hover1{
    position: absolute;
    width: 140px;
    height: 218px;
    padding: 24px 24px 24px 36px;
    opacity: 0;
    transition: visibility 0.3s ease-in-out;
}

.card #profile{
    width: 315px;
    padding: 36px 12px;
}

.card #profile h3{
    position: sticky;
    font-size: 28px;
    color: #ffffff;
    height: 32px;
    margin: 0 0 12px 0;
    z-index: 1;
    opacity: 1;
    text-align:left;
}

.card #profile h4{
    position: sticky;
    font-size: 16px;
    color: #F57D2F;
    margin: 0 ;
    z-index: 1;
    opacity: 1;
    text-align:left;
}

#profile p{
    font-size: 16px;
    position: sticky;
    color: #ffffff;
    margin: 24px 0;
    font-weight: lighter;
    z-index: 1;
    opacity: 1;
    text-align:left;
}

#profile ul{
    position: sticky;
    display: flex;
    width: 315px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
    opacity: 1;
}

#profile ul li{
    font-size: 12px;
    color: #ffffff;
    list-style: none;
    border: 1px solid #2b2b2b;
    padding: 6px 12px;
    margin: 0;
    border-radius: 12px;
    font-weight :lighter
}

.card::before{
    content: '';
    position: absolute;
    top: calc(var(--mouse-y, 0px) - 150px);
    left: calc(var(--mouse-x, 0px) - 150px);
    z-index: 0;
    background: radial-gradient(circle,  #E0220A, transparent,transparent);
    width: 300px;
    height: 300px;
    opacity: 0;
    pointer-events: none;
    transition:0.5s,top 0s,left 0s;
}

.card:hover::before{
   opacity: 1;
   z-index: 0;
}

.card::after{
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 18px;
    background: #2B2B2B66;
    z-index: 0;
}

.card:hover #normal{
   opacity: 0;
}
.card:hover #normal1{
   opacity: 0;
}
.card:hover #hover{
   opacity: 1;
   z-index: 2;
}
.card:hover #hover1{
   opacity: 1;
   z-index: 2;
}

.card:hover .card_bg{
    opacity: 1;
    z-index: 0;
}

/* -----------------------------work page-------------------------------------------- */
#our-work{
    align-items: center;
    text-align: center; 
    margin: -120px auto;
    position: relative;
}

.text-content{
    width: 100%;
    margin: 0 auto;
}
.text-content h1{
    font-size: 56px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}
.text-content img{
    width: 250px;
}
.text-content p{
    font-size: 16px;
    color: #c2c2c2;
    width: 100%;
    margin-bottom: 92px;
    font-weight: lighter;
}

#wrk{
    display: flex;
    align-items: center;           
    margin-top: 40px;
    position: relative;
    justify-content: space-around;
    margin-bottom: 80px
}

#wrk a{
    text-decoration: none;
}

.wrk-frm{
    background-image: url(./Img/square.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    column-gap: 70px;
    height: 408px;
    width: 100%;
    position: relative;
}


.frm-img{
    background-size: cover;
    height: 312px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    top: 48px;
}
.wrk-img{
    background-size: cover;
    height: 312px;
    width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.hover-card{
    width: 338px;
    height: 70px;
    padding: 24px;
    border-radius: 12px;
    background: #0b0b0b66;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: translate(6px, 0px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.hover-card h4{
    font-size: 28px;
    margin: 0;
    color: white;

}

.hover-card h6{
    font-size: 18px;
    margin: 0;
    color: white;
    font-weight: normal;
}

.arrow{
    position: absolute;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: right;
    transform: translate(400px, -470px);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.frm-img:hover .arrow{
    transform: translate(340px, -416px);
}

.frm-img:hover .hover-card{
    transform: translate(6px, -128px);
}


/* ------------------------------Scroll text --------------------------------*/

#cnt{
    position: sticky;
    margin: 280px 0;
}

#cnt .text-content{
    position: sticky;
    top: 16%;
    width: 502px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#scl-card{
    position: sticky;
    top: 18%;
    padding-top: 4px;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    height: 250px;
    content: '';
    z-index: 0;
    background-image: url(./Img/Frame\ 6101.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#inside{
    display: flex;
}

#scl-card h1{
    width: 114px;
    color: rgb(255, 255, 255);
    font-size: 120px;
    align-content: center;
    margin: 60px 128px 60px 90px;
    z-index: 1;
}

#scl-card p{
    max-width: 900px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    left: 216px;
    z-index: 2;;
}

#scl-card p span{
    background: linear-gradient(90deg, #E0220A 0%, #F57D2F 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}

 /* -----------------------------------------Contact Page -------------------------------------------*/

#contactUs{
    height: 805px;
    width: 598px;
    margin: 0% auto;
    padding-top: 20px;
    position: sticky;
    background-image: url(./Img/Frame\ 70.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
    box-sizing: border-box;
}

#contactUs img{
    width: 250px;
    padding:0 200px;
    align-items: center;
}

#contactUs p{
    padding: 0 2px;
    font-size: 18px;
    color: #c2c2c2;
    font-weight: lighter;
    text-align: center;
    margin: 30px 64px
}

#contactUs h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
    padding: 0 140px;
    margin-top: 10px;
    margin-bottom: 0px
}

#contactUs h4{
    font-size: 28px;
    color: #fff;
    text-align: center;
}

#form{
    width: 100%;
    height: 598px;
}


#form input{
    height: 64px;
    width: 80%;
    text-align: left;
    justify-content: center;
    margin: 0 44px;
    margin-bottom: 8px;
    border: transparent;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 6px;
    color: #fff;
    background: #2B2B2B66;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px); 
    box-shadow: inset 0 0 0 1px #1F2937;
}

#form input::placeholder{
    color: #ffffff9f;
    font-weight: lighter;
}

#form label{
    display: none;
    color: #fff;
    text-align: left;
    font-weight: 500;
    margin: 0;
}

#form #bg{
    width: 112px;
    height: 240px;
    position:absolute;
    transform: rotate(340deg) translate(210px, 80px);
}

#contactUs #msg{
    height: 146px;
    width: 80%;
    text-align: start;
    vertical-align: top;
    resize: none;
    margin: 0 44px;
    margin-bottom: 8px;
    border: transparent;
    color: #fff;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 6px;
    font-size: 16px;
    -webkit-backdrop-filter: blur(10px);
    background: #2B2B2B66;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 0 1px #1F2937; 
}

#contactUs #msg::placeholder{
    color: #ffffff9f;
    font-weight: lighter;
}

#contactUs #sub_but{
    width: 87%;
    height: 55px;
    border-radius: 6px;
    margin: 0 44px;
    margin-top: 16px;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    background: linear-gradient(45deg, #E0220A, #F57D2F);
    cursor: pointer;
    font-size: 18px;
}

/* ------------------------------footer------------------------------------------ */

footer{
    max-width: 100%;
    background-color: black;
    padding: 48px 40px;
    margin-top: 2%;
}

#footer-content{
    display: flex;
    justify-content: space-between;
}

#left{
    align-content: center;
    width: 360px;
}

#left img{
    height: 32px;
    width: 224px;
    margin-bottom: 24px;
}

#left p{
    color: #c2c2c2;
    font-weight:normal;
    line-height: 26px;
    padding-right: 14%;
}

#nav{
   color: white;
   display: flex;  
   width: 410px;
   column-gap: 90px;
}

#nav ul li{
    list-style: none;
}

#nav ul li{
    font-weight: lighter;
    font-size: 14px;
    padding-bottom: 16px;
}

#nav ul li:nth-child(1){
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 36px;
    color: #ffffff;
}

#nav ul li a{
    font-weight: lighter;
    font-size: 14px;
    text-decoration: none;
    color: #E0E0E0;
}

#footer-snd-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center
}

footer p{
    font-size: 16px;
    color: #c2c2c2;
    margin: 0;
    align-items: center;
}

footer img{
    height: 48px;
    width: 48px;
}

.alert , .confirm{
    display: none;
    z-index: 1000;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 2%;
}
.modal-content,.confirm-content {
    background:linear-gradient(45deg, #E0220A, #F57D2F);;
    max-width: 390px;
    display: flex;
    border-radius: 10px;
    text-align: center;
    justify-content:space-between;
    padding: 20px;
    column-gap: 16px;
}
.modal-content img,.confirm-content img{
    height: 24px;
    width: 24px;
}
.wrong-button{
    height: 18px;
    width: 18px;
    text-align: center;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: #ffffff;
    padding: 0px;
}
.content{
  text-align: left;
  top: 0;
  width: 275px;
  color: #ffffff;
}
.content h2{
  margin: 0%;
}
.content p{
  margin: 2%;
  font-weight: lighter;
}

/* -----------------------------Break-Points------------------------------ */
/* Desktop - XL */
@media (max-width: 1280px) {
    #wrk {
    gap: 0px;
    }
    .wrk-frm {
    height: 356px;
    width: 100%;
    }
    .wrk-img {
    height: 260px;
    width: 100%;
    }
    .frm-img {
    height: 278px;
    width: 100%
    }
    .hover-card {
    width: 276px;
    height: 58px;
    transform: translate(14px ,0px);
    }
    .frm-img:hover .arrow {
    transform: translate(284px, -360px);
    }
    .frm-img:hover .hover-card {
    transform: translate(14px, -118px);
    }
}

/* Tablet - L */
@media (max-width: 992px) {

#log{
    display: flex;
    align-items: center;
    margin: 12px 0px 12px 128px;
}
#dsk-nav{
    justify-content: center;
    column-gap: 112px;
    padding: 0px;
    width: 100%;
}
#dsk-nav ul{
    margin: 26px 12px 26px 0px;
    column-gap: 32px;
    padding: 0px;
    }
#dsk-nav ul li{
    padding: 12px 16px;
    justify-content: space-between;
}
#us{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
#wrk{
    flex-direction: column;
    
}
.wrk-frm {
    height: 356px;
    width: 400px;
    }
    .wrk-img {
    height: 260px;
    width: 333px;
    }
    .frm-img {
    height: 278px;
    width: 353px;
    }
.hover-card{
    transform: translate(14px, -118px);
}
.arrow{
    transform: translate(284px, -360px);
}
#btn_ami #btn_img {
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    transform: translate(-40px, 20px);
    opacity: 0;
    animation: fadeMove 10s ease-in-out infinite;
    }

@keyframes fadeMove {
  0% {
    opacity: 1;
    transform: translate(-40px, 20px);
  }
  25% {
    opacity: 1;
    transform: translate(-22px, 1px);
  }
  50% {
    opacity: 1;
    transform: translate(-40px, 20px);
  }
  75% {
    opacity: 1;
    transform: translate(-22px, 1px);
  }
  100% {
    opacity: 1;
    transform: translate(-40px, 20px);
  }
}

.card::before {
    top: -120px;
    left: -100px;
}
}

/* Tablet - M */
@media (max-width: 768px) {
    #dsk-nav {
        column-gap: 60px;
        width: 100%;
    }
    #dsk-nav ul {
        margin: 26px 24px 26px 0px;
        column-gap: 18px;
    }
    #dsk-nav ul li {
        padding: 10px 0px;
    }

    #log {
        margin: 12px 0px 12px 24px;
    }

    #log p{
        margin: 10px 16px;
    }
    #hero_cont h1 {
        width: 100%;
    }
    #contactUs img {
    width: 30%;
    padding: 0 200px;
    align-items: center;
    }
    #form input {
    width: 78%;
    }
    #contactUs #msg {
        width: 78%;
    }
    #contactUs #sub_but {
        width: 85%;
    }
}

/* Phone - S */
@media (max-width: 576px) {

#dsk-nav{
    display: none;
    }
    #sml-nav{
    position:fixed;
    display: flex;
    flex-direction: column;
    background: #0b0b0b66;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px); 
    width: 100%;
    z-index: 1000;
    }
    #top-nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8px 40px;
    }

    #top-sm-log{
    width: 22px;
    height: 32px;
    padding: 16px;
    }
    #top-sm-cls,#top-sm-bur{
    width: 18px;
    height: 18px;
    padding: 16px;
    }

    #top-sm-cls{
    display: none;
    }

    #sml-nav ul{
    margin: 8px 16px 8px -26px;
    padding-bottom: 16px;
    display: none;
    }

    #sml-nav ul li{
    color: #eaeaea;
    padding: 12px 16px;
    font-family:"K2D" , sans-serif;
    list-style: none;
    text-align: center;
    font-weight: lighter;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-left: -20px;
    }

    #sml-nav ul li a{
        text-decoration: none;
        color: #ffffff;
        }
    #hero_cont {
        position: relative;
        width: 100%;
        height: 857px;
        justify-content: center;
        color: #fff;
        padding: 160px 36px 200px 36px;
    }
    #hero_cont h1 {
        font-size: 48px;
        text-align: center;
        margin-bottom: 54px;
        width: 100%;
    }
    #hero_cont .space {
        width: 10px;
    }
    #hero_cont .img-letter-code {
        margin: 18px -38px;
    }
    #us{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
    .card {
        flex-direction: column;
        align-items: center;
        width: 348px;
        height: 510px;
    }
    #abt-us #content p
    {
        width: 396px;
    }
    .card #profile h3,
    .card #profile h4,
    .card #profile p{
        text-align: center;
    }
    #contactUs {
        width: 100%;
        height: 100%;
    }
    .card #card_bg {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    #wrk {
    margin-top: 20px;
    flex-direction: column;
    }
    .wrk-frm {
    height: 212px;
    width: 200px;
    }
    .frm-img {
    height: 144px;
    width: 184px;
    background-size: cover;;
    position: relative;
    border-radius: 12px;
    }
    .wrk-img{
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 144px;
    width: 184px;
    }
    
#nav {
    width: 220px;
    column-gap: 0px;
}
.hover-card {
        width: 108px;
        height: 26px;
        transform: translate(14px, -84px);
        }
.hover-card h4 {
    font-size: 12px;
}
.hover-card h6 {
    font-size: 10px;
}
#contactUs img {
    display: none;
}        
.arrow{
    transform: translate(284px, -360px);
}
#cnt {
    margin: 200px 0;
}
.text-content h1 {
    font-size: 40px;
}
#scl-card {
    display: flex;
}
#inside {
    flex-direction: column;
    width: 100%;
    }
#cnt .text-content {
    top: 10%;
    width: 100%;
}
#scl-card h1 {
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin: 0;
}
#scl-card p {
    font-size: 18px;
    text-align: center;
    padding: 2px;
    width: 98%;
}
#hero_cont .img-letter-two{
    margin: 14px -44px;
}
#contactUs img{
    width: 16%;
}
#contactUs h1 {
    padding: 0 100px;
}
#form input {
    width: 72%;
}
#contactUs #msg {
    width: 72%;
}
#contactUs #sub_but {
    width: 81%;
}
#footer-content {
    flex-direction: column;
    }
    #left {
    width: 220px;
    }
    #nav {
    flex-direction: column;
    }
    #nav ul{
    margin-left: -38px;
    }
    .modal-content, .confirm-content{
        max-width: 220px;
    }
}

@media (max-width: 376px) {
    #dsk-nav{
    display: none;
    }
    #sml-nav{
    position:fixed;
    display: flex;
    flex-direction: column;
    background: #0b0b0b66;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(10px); 
    width: 100%;
    z-index: 1000;
    }
    #top-nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8px 16px;
    }

    #top-sm-log{
    width: 22px;
    height: 32px;
    padding: 16px;
    }
    #top-sm-cls,#top-sm-bur{
    width: 18px;
    height: 18px;
    padding: 16px;
    }

    #top-sm-cls{
        display: none;
    }

    #sml-nav ul{
    margin: 8px 16px 8px -26px;
    padding-bottom: 16px;
    display: none;
    }

    #sml-nav ul li{
    color: #eaeaea;
    padding: 12px 16px;
    font-family:"K2D" , sans-serif;
    list-style: none;
    text-align: center;
    font-weight: lighter;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-left: -20px;
    }

    #sml-nav ul li a{
    text-decoration: none;
    color: #ffffff;
    }
    #hero_cont {
    padding: 147px 16px 63px 16px;
    }
    #hero_cont h1 {
    font-size: 28px;
    margin-bottom: 0px;
    }
    #hero_cont .img-letter-code {
    width: 28px;
    margin: 8px -26px; 
    }
    #hero_cont .img-letter-two {
    width: 28px;
    margin: 6px -26px;
    }
    #hero_cont p {
    font-size: 14px;
    padding: 32px;
    margin-bottom: 0px;
    }
    #btn {
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-self: center;
    }
    #abt-us {
    top: 0px;
    }
    #hero_container {
    height: 610px;
    }
    #abt-us #content h1 {
    font-size: 32px;
    }
    #abt-us #content p {
    font-size: 14px;
    width: 100%;
    }
    .card {
    width: 306px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .card #profile h3 {
    margin: 0 12px 12px 12px;
    text-align: center;
    }
    .card #profile h4 {
    margin: 0 12px 12px 12px;
    text-align: center;
    }
    .card #profile p {
    margin: 0 12px 12px 12px;
    text-align: center;
    }
    .card #card_bg {
    width: 256px;
    height: 520px;
    }
    #our-work {
    margin: 0px auto;
    }
    .text-content{
    width: 100%;
    }
    .text-content h1 {
    font-size: 28px;
    }
    .text-content p {
    font-size: 14px;
    width: 100%;
    }
    #wrk {
    margin-top: 20px;
    }
    .wrk-frm {
    height: 212px;
    width: 200px;
    }
    .frm-img {
    height: 144px;
    width: 184px;
    background-size: cover;;
    position: relative;
    border-radius: 12px;
    }
    .wrk-img{
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 144px;
    width: 184px;
    }
    .hover-card {
    width: 108px;
    height: 20px;
    transform: translate(14px, -80px);
    }
    .hover-card h4{
    font-size: 12px;
    }
    .hover-card h6{
    font-size: 8px;
    }
    .arrow{
    height: 16px;
    width: 16px;
    }
    .arrow {
    transform: translate(160px, -210px);
    }
    #cnt {
    margin: 0px 0;
    }
    #cnt .text-content {
    width: auto;
    }
    #scl-card {
    position: sticky;
    top: 18%;
    padding-top: 4px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
    }
    #inside {
    flex-direction: column;
    }
    #cnt .text-content {
    top: 10%;
    }
    #scl-card h1 {
    font-size: 60px;
    text-align: center;
    }
    #scl-card p {
    font-size: 18px;
    text-align: center;
    }
    #contactUs h1 {
    padding: 0 0px;
    }
    #contactUs img {
    padding: 0 40px;
    }
    #contactUs p {
    font-size: 14px;
    margin: 30px 18px;
    }
    #form input {
    width: 66%;
    }
    #contactUs #msg {
    width: 66%;
    }
    #contactUs #sub_but {
    width: 76%;
    }
    #footer-content {
    flex-direction: column;
    }
    #left {
    width: 220px;
    }
    #nav {
    flex-direction: column;
    }
    #nav ul{
    margin-left: -38px;
    }
    .modal-content, .confirm-content{
        max-width: 220px;
    }
}
